<div class="container">
  <h2>Add New Form</h2>
  <form action="/forms/create">
    <div class="form-group">
      <label for="text">Name:</label>
      <input type="text" class="form-control" id="title" placeholder="Enter form title" name="title">
    </div>
    <div class="form-group">
      <label for="email">Description:</label>
      <input type="text" class="form-control" id="description" placeholder="Enter form description" name="description">
    </div>
    <button type="submit" class="btn btn-default btn-primary">Submit</button>
  </form>
</div>